.timeline ul {
    margin: 50px -50px 0 -30px;
    list-style: none;
    position: relative;
    padding: 1px 100px;
    color: #000;
    font-size: 14px;
}
.timeline ul:before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    border-left: 2px dashed #000;
}
.timeline ul li {
    position: relative;
    margin-left: 30px;
    background-color: rgba(0, 0, 0, 0.07);
    padding: 12px;
    border-radius: 6px;
    width: 100%;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.12), 0 2px 2px rgba(255, 255, 255, 0.08);
}
.timeline ul li:not(:first-child) {
    margin-top: 60px;
}
.timeline ul li > span {
    width: 2px;
    height: 100%;
    background: #000;
    left: -30px;
    top: 0;
    position: absolute;
}
.timeline ul li > span:before, .timeline ul li > span:after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    background: #1aa859;
    left: -5px;
    top: 0;
}
.timeline ul li span:after {
    top: 100%;
}
.timeline ul li > div {
    margin-left: 10px;
}
.timeline div .title {
    font-weight: 600;
    font-size: 12px;
}
.timeline div .info {
    font-weight: 300;
}
.timeline div > div {
    margin-top: 5px;
}
.timeline span.number {
    height: 100%;
    text-align: right;
}
.timeline span.number span {
    position: absolute;
    font-size: 12px;
    right: 15px;
    left: -80px;
    font-weight: bold;
    text-align: right;
}
.timeline span.number span:first-child {
    top: 0;
}
.timeline span.number span:last-child {
    top: 100%;
}